--
-- PostgreSQL database dump
--

\restrict KFIIRaEYCRsxpFb6E6Vy8q3y0evCFV2HMvPHJxhuxADs4jIUKKdNPQ0CfcRu4Cw

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: administradores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.administradores (
    id_usuario uuid NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    id_parametro_tipo_admin uuid
);


ALTER TABLE public.administradores OWNER TO postgres;

--
-- Name: auxiliares; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auxiliares (
    id_usuario uuid NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    id_parametro_tipo_auxiliar uuid
);


ALTER TABLE public.auxiliares OWNER TO postgres;

--
-- Name: citas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.citas (
    id_cita uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    id_paciente uuid,
    id_odontologo uuid,
    id_auxiliar uuid,
    fecha_cita timestamp(6) with time zone,
    id_parametro_estado_cita uuid,
    motivo text,
    observaciones text,
    hora_inicio_cita timestamp(6) with time zone,
    hora_fin_cita timestamp(6) with time zone,
    id_tratamiento_usuario uuid,
    precio_consulta numeric
);


ALTER TABLE public.citas OWNER TO postgres;

--
-- Name: diagnosticos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.diagnosticos (
    id_diagnostico uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    id_paciente uuid,
    id_odontologo uuid,
    id_cita uuid,
    fecha_diagnostico timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    descripcion text,
    recomendaciones json,
    archivos_adjuntos json,
    anamnesis json,
    examen_fisico json,
    historial_medico json,
    informacion_tratamiento json,
    notas_medico text,
    odontograma json,
    odontograma_denticion json,
    plan_tratamiento json
);


ALTER TABLE public.diagnosticos OWNER TO postgres;

--
-- Name: historial_clinico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.historial_clinico (
    id_historial uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    id_paciente uuid,
    descripcion text,
    antecedentes json,
    alergias json,
    medicamentos json
);


ALTER TABLE public.historial_clinico OWNER TO postgres;

--
-- Name: mensajes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mensajes (
    id_mensaje uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    id_remitente uuid,
    id_receptor uuid,
    id_parametro_estado_mensaje uuid,
    contenido text,
    fecha_envio timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.mensajes OWNER TO postgres;

--
-- Name: mensajes_soporte; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mensajes_soporte (
    id_mensaje_soporte uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    id_ticket uuid,
    id_usuario uuid,
    contenido text,
    es_bot boolean DEFAULT false,
    leido boolean DEFAULT false
);


ALTER TABLE public.mensajes_soporte OWNER TO postgres;

--
-- Name: odontologos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.odontologos (
    id_usuario uuid NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    especialidad character varying(100),
    horario_trabajo json,
    firma_digital character varying(255),
    sede character varying(255)
);


ALTER TABLE public.odontologos OWNER TO postgres;

--
-- Name: pacientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pacientes (
    id_usuario uuid NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    fecha_nacimiento date,
    configuracion_paciente json,
    fecha_registro timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    alergias text,
    tolerante_anestesia text,
    tratamientos_previos text,
    barrio text,
    condiciones_medicas_previas text,
    eps text,
    informacion_acudiente json,
    medicamentos_actuales text,
    ocupacion text
);


ALTER TABLE public.pacientes OWNER TO postgres;

--
-- Name: pagos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pagos (
    id_pago uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    id_cita uuid,
    monto numeric,
    id_parametro_metodo_pago uuid,
    id_parametro_estado_pago uuid,
    fecha_pago timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    id_paciente uuid,
    observaciones text
);


ALTER TABLE public.pagos OWNER TO postgres;

--
-- Name: parametros; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parametros (
    id_parametro uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    id_tipo_parametro uuid,
    nombre character varying(100),
    descripcion text
);


ALTER TABLE public.parametros OWNER TO postgres;

--
-- Name: respuestas_automaticas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.respuestas_automaticas (
    id_respuesta uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    palabra_clave character varying(100),
    respuesta text,
    activo boolean DEFAULT true,
    prioridad integer DEFAULT 0
);


ALTER TABLE public.respuestas_automaticas OWNER TO postgres;

--
-- Name: tickets_soporte; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tickets_soporte (
    id_ticket uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    id_usuario uuid,
    asunto character varying(200),
    estado character varying(50) DEFAULT 'abierto'::character varying,
    prioridad character varying(50) DEFAULT 'media'::character varying,
    fecha_cierre timestamp(6) with time zone
);


ALTER TABLE public.tickets_soporte OWNER TO postgres;

--
-- Name: tipos_parametros; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipos_parametros (
    id_tipo_parametro uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    nombre character varying(100),
    descripcion text
);


ALTER TABLE public.tipos_parametros OWNER TO postgres;

--
-- Name: tratamientos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tratamientos (
    id_tratamiento uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    nombre_tratamiento character varying(100),
    descripcion text,
    precio_estimado numeric,
    duracion integer,
    ar_model_url character varying(255),
    imagen_url character varying(255)
);


ALTER TABLE public.tratamientos OWNER TO postgres;

--
-- Name: tratamientos_usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tratamientos_usuarios (
    id_tratamiento_usuario uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_usuario uuid NOT NULL,
    id_tratamiento uuid NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    id_parametro_estado_tratamiento uuid
);


ALTER TABLE public.tratamientos_usuarios OWNER TO postgres;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id_usuario uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha_creacion timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp(6) with time zone,
    eliminado integer DEFAULT '-1'::integer,
    fecha_eliminacion timestamp(6) with time zone,
    id_parametro_rol uuid,
    nombres character varying(100),
    apellidos character varying(100),
    "email " character varying(100),
    telefono character varying(50),
    usuario character varying(100),
    clave character varying(100),
    avatar_url character varying(255),
    identificacion character varying,
    fecha_de_nacimiento timestamp(6) without time zone,
    informacion_personal character varying,
    direccion character varying
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: administradores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.administradores (id_usuario, fecha_creacion, fecha_actualizacion, eliminado, fecha_eliminacion, id_parametro_tipo_admin) FROM stdin;
c3b39300-10da-4686-8c5e-8d0a27e71207	2025-11-28 16:38:14.613+00	\N	-1	\N	\N
\.


--
-- Data for Name: auxiliares; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auxiliares (id_usuario, fecha_creacion, fecha_actualizacion, eliminado, fecha_eliminacion, id_parametro_tipo_auxiliar) FROM stdin;
4ee8db1d-f0dd-4b5d-9521-c0da7bca71d4	2025-11-28 16:49:10.042+00	\N	-1	\N	\N
\.


--
-- Data for Name: citas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: diagnosticos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.diagnosticos (id_diagnostico, fecha_creacion, fecha_actualizacion, eliminado, fecha_eliminacion, id_paciente, id_odontologo, id_cita, fecha_diagnostico, descripcion, recomendaciones, archivos_adjuntos, anamnesis, examen_fisico, historial_medico, informacion_tratamiento, notas_medico, odontograma, odontograma_denticion, plan_tratamiento) FROM stdin;
\.


--
-- Data for Name: historial_clinico; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.historial_clinico (id_historial, fecha_creacion, fecha_actualizacion, eliminado, fecha_eliminacion, id_paciente, descripcion, antecedentes, alergias, medicamentos) FROM stdin;
\.


--
-- Data for Name: mensajes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mensajes (id_mensaje, fecha_creacion, fecha_actualizacion, eliminado, fecha_eliminacion, id_remitente, id_receptor, id_parametro_estado_mensaje, contenido, fecha_envio) FROM stdin;
\.


--
-- Data for Name: mensajes_soporte; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: odontologos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.odontologos (id_usuario, fecha_creacion, fecha_actualizacion, eliminado, fecha_eliminacion, especialidad, horario_trabajo, firma_digital, sede) FROM stdin;
e1bdb8b4-da84-433e-967d-1129af7b9abe	2025-11-28 16:46:58.581+00	\N	-1	\N	\N	null	\N	\N
\.


--
-- Data for Name: pacientes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pacientes (id_usuario, fecha_creacion, fecha_actualizacion, eliminado, fecha_eliminacion, fecha_nacimiento, configuracion_paciente, fecha_registro, alergias, tolerante_anestesia, tratamientos_previos, barrio, condiciones_medicas_previas, eps, informacion_acudiente, medicamentos_actuales, ocupacion) FROM stdin;
d4ef596b-ced8-4dd5-9b54-308b416f74c9	2025-11-28 16:38:04.019+00	\N	-1	\N	\N	null	2025-11-28 16:38:04.019+00	\N	\N	\N	\N	\N	\N	null	\N	\N
\.


--
-- Data for Name: pagos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pagos (id_pago, fecha_creacion, fecha_actualizacion, eliminado, fecha_eliminacion, id_cita, monto, id_parametro_metodo_pago, id_parametro_estado_pago, fecha_pago, id_paciente, observaciones) FROM stdin;
\.


--
-- Data for Name: parametros; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: respuestas_automaticas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tickets_soporte; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tickets_soporte (id_ticket, fecha_creacion, fecha_actualizacion, eliminado, fecha_eliminacion, id_usuario, asunto, estado, prioridad, fecha_cierre) FROM stdin;
df49a9a0-7ab5-46d9-aa42-9a6ccb2179a4	2025-11-28 16:51:38.167+00	\N	-1	\N	4ee8db1d-f0dd-4b5d-9521-c0da7bca71d4	Consulta de soporte - 28/11/2025	abierto	media	\N
112fc3c1-436f-499f-bb7c-faf48df89927	2025-11-29 11:42:44.927+00	\N	-1	\N	4ee8db1d-f0dd-4b5d-9521-c0da7bca71d4	Consulta de soporte - 29/11/2025	abierto	media	\N
\.


--
-- Data for Name: tipos_parametros; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tratamientos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tratamientos (id_tratamiento, fecha_creacion, fecha_actualizacion, eliminado, fecha_eliminacion, nombre_tratamiento, descripcion, precio_estimado, duracion, ar_model_url, imagen_url) FROM stdin;
\.


--
-- Data for Name: tratamientos_usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tratamientos_usuarios (id_tratamiento_usuario, id_usuario, id_tratamiento, fecha_creacion, fecha_actualizacion, eliminado, fecha_eliminacion, id_parametro_estado_tratamiento) FROM stdin;
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: administradores administradores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administradores
    ADD CONSTRAINT administradores_pkey PRIMARY KEY (id_usuario);


--
-- Name: auxiliares auxiliares_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auxiliares
    ADD CONSTRAINT auxiliares_pkey PRIMARY KEY (id_usuario);


--
-- Name: citas citas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_pkey PRIMARY KEY (id_cita);


--
-- Name: diagnosticos diagnosticos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnosticos
    ADD CONSTRAINT diagnosticos_pkey PRIMARY KEY (id_diagnostico);


--
-- Name: historial_clinico historial_clinico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historial_clinico
    ADD CONSTRAINT historial_clinico_pkey PRIMARY KEY (id_historial);


--
-- Name: mensajes mensajes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mensajes
    ADD CONSTRAINT mensajes_pkey PRIMARY KEY (id_mensaje);


--
-- Name: mensajes_soporte mensajes_soporte_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mensajes_soporte
    ADD CONSTRAINT mensajes_soporte_pkey PRIMARY KEY (id_mensaje_soporte);


--
-- Name: odontologos odontologos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.odontologos
    ADD CONSTRAINT odontologos_pkey PRIMARY KEY (id_usuario);


--
-- Name: pacientes pacientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT pacientes_pkey PRIMARY KEY (id_usuario);


--
-- Name: pagos pagos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_pkey PRIMARY KEY (id_pago);


--
-- Name: parametros parametros_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parametros
    ADD CONSTRAINT parametros_pkey PRIMARY KEY (id_parametro);


--
-- Name: respuestas_automaticas respuestas_automaticas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.respuestas_automaticas
    ADD CONSTRAINT respuestas_automaticas_pkey PRIMARY KEY (id_respuesta);


--
-- Name: tickets_soporte tickets_soporte_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets_soporte
    ADD CONSTRAINT tickets_soporte_pkey PRIMARY KEY (id_ticket);


--
-- Name: tipos_parametros tipos_parametros_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipos_parametros
    ADD CONSTRAINT tipos_parametros_pkey PRIMARY KEY (id_tipo_parametro);


--
-- Name: tratamientos tratamientos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tratamientos
    ADD CONSTRAINT tratamientos_pkey PRIMARY KEY (id_tratamiento);


--
-- Name: tratamientos_usuarios tratamientos_usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tratamientos_usuarios
    ADD CONSTRAINT tratamientos_usuarios_pkey PRIMARY KEY (id_tratamiento_usuario);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id_usuario);


--
-- Name: usuarios_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX usuarios_email_key ON public.usuarios USING btree ("email ");


--
-- Name: administradores administradores_id_parametro_tipo_admin_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administradores
    ADD CONSTRAINT administradores_id_parametro_tipo_admin_fkey FOREIGN KEY (id_parametro_tipo_admin) REFERENCES public.parametros(id_parametro);


--
-- Name: administradores administradores_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administradores
    ADD CONSTRAINT administradores_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- Name: auxiliares auxiliares_id_parametro_tipo_auxiliar_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auxiliares
    ADD CONSTRAINT auxiliares_id_parametro_tipo_auxiliar_fkey FOREIGN KEY (id_parametro_tipo_auxiliar) REFERENCES public.parametros(id_parametro);


--
-- Name: auxiliares auxiliares_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auxiliares
    ADD CONSTRAINT auxiliares_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- Name: citas citas_id_auxiliar_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_id_auxiliar_fkey FOREIGN KEY (id_auxiliar) REFERENCES public.auxiliares(id_usuario);


--
-- Name: citas citas_id_odontologo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_id_odontologo_fkey FOREIGN KEY (id_odontologo) REFERENCES public.odontologos(id_usuario);


--
-- Name: citas citas_id_paciente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_id_paciente_fkey FOREIGN KEY (id_paciente) REFERENCES public.pacientes(id_usuario);


--
-- Name: citas citas_id_parametro_estado_cita_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_id_parametro_estado_cita_fkey FOREIGN KEY (id_parametro_estado_cita) REFERENCES public.parametros(id_parametro);


--
-- Name: citas citas_id_tratamiento_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_id_tratamiento_usuario_fkey FOREIGN KEY (id_tratamiento_usuario) REFERENCES public.tratamientos_usuarios(id_tratamiento_usuario);


--
-- Name: diagnosticos diagnosticos_id_cita_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnosticos
    ADD CONSTRAINT diagnosticos_id_cita_fkey FOREIGN KEY (id_cita) REFERENCES public.citas(id_cita);


--
-- Name: diagnosticos diagnosticos_id_odontologo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnosticos
    ADD CONSTRAINT diagnosticos_id_odontologo_fkey FOREIGN KEY (id_odontologo) REFERENCES public.odontologos(id_usuario);


--
-- Name: diagnosticos diagnosticos_id_paciente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnosticos
    ADD CONSTRAINT diagnosticos_id_paciente_fkey FOREIGN KEY (id_paciente) REFERENCES public.pacientes(id_usuario);


--
-- Name: historial_clinico historial_clinico_id_paciente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historial_clinico
    ADD CONSTRAINT historial_clinico_id_paciente_fkey FOREIGN KEY (id_paciente) REFERENCES public.pacientes(id_usuario);


--
-- Name: mensajes mensajes_id_parametro_estado_mensaje_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mensajes
    ADD CONSTRAINT mensajes_id_parametro_estado_mensaje_fkey FOREIGN KEY (id_parametro_estado_mensaje) REFERENCES public.parametros(id_parametro);


--
-- Name: mensajes mensajes_id_receptor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mensajes
    ADD CONSTRAINT mensajes_id_receptor_fkey FOREIGN KEY (id_receptor) REFERENCES public.usuarios(id_usuario);


--
-- Name: mensajes mensajes_id_remitente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mensajes
    ADD CONSTRAINT mensajes_id_remitente_fkey FOREIGN KEY (id_remitente) REFERENCES public.usuarios(id_usuario);


--
-- Name: mensajes_soporte mensajes_soporte_id_ticket_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mensajes_soporte
    ADD CONSTRAINT mensajes_soporte_id_ticket_fkey FOREIGN KEY (id_ticket) REFERENCES public.tickets_soporte(id_ticket) ON DELETE CASCADE;


--
-- Name: mensajes_soporte mensajes_soporte_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mensajes_soporte
    ADD CONSTRAINT mensajes_soporte_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- Name: odontologos odontologos_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.odontologos
    ADD CONSTRAINT odontologos_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- Name: pacientes pacientes_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT pacientes_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- Name: pagos pagos_id_cita_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_id_cita_fkey FOREIGN KEY (id_cita) REFERENCES public.citas(id_cita);


--
-- Name: pagos pagos_id_paciente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_id_paciente_fkey FOREIGN KEY (id_paciente) REFERENCES public.pacientes(id_usuario);


--
-- Name: pagos pagos_id_parametro_estado_pago_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_id_parametro_estado_pago_fkey FOREIGN KEY (id_parametro_estado_pago) REFERENCES public.parametros(id_parametro);


--
-- Name: pagos pagos_id_parametro_metodo_pago_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_id_parametro_metodo_pago_fkey FOREIGN KEY (id_parametro_metodo_pago) REFERENCES public.parametros(id_parametro);


--
-- Name: parametros parametros_id_tipo_parametro_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parametros
    ADD CONSTRAINT parametros_id_tipo_parametro_fkey FOREIGN KEY (id_tipo_parametro) REFERENCES public.tipos_parametros(id_tipo_parametro);


--
-- Name: tickets_soporte tickets_soporte_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets_soporte
    ADD CONSTRAINT tickets_soporte_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- Name: tratamientos_usuarios tratamientos_usuarios_id_parametro_estado_tratamiento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tratamientos_usuarios
    ADD CONSTRAINT tratamientos_usuarios_id_parametro_estado_tratamiento_fkey FOREIGN KEY (id_parametro_estado_tratamiento) REFERENCES public.parametros(id_parametro);


--
-- Name: tratamientos_usuarios tratamientos_usuarios_id_tratamiento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tratamientos_usuarios
    ADD CONSTRAINT tratamientos_usuarios_id_tratamiento_fkey FOREIGN KEY (id_tratamiento) REFERENCES public.tratamientos(id_tratamiento) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: tratamientos_usuarios tratamientos_usuarios_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tratamientos_usuarios
    ADD CONSTRAINT tratamientos_usuarios_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: usuarios usuarios_id_parametro_rol_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_id_parametro_rol_fkey FOREIGN KEY (id_parametro_rol) REFERENCES public.parametros(id_parametro);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict KFIIRaEYCRsxpFb6E6Vy8q3y0evCFV2HMvPHJxhuxADs4jIUKKdNPQ0CfcRu4Cw

