# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
PORT=3000

DATABASE_URL="postgresql://postgres:1087423755@localhost:5432/icesi_dentar?schema=public"
# DATABASE_URL='postgresql://kaleidolab_dev_dentar_user:%3D%2595%5E7j7.%2BW%22@162.240.239.130:5432/kaleidolab_dev_dentar?schema=public'

JWT_SECRET="super_secret_jwt_key_change_me"

NODE_ENV=development
# NODE_ENV=production