.cardContainer {
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.card {
  background-color: rgba(240, 240, 240, 0);
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.cardImage {
  width: 50%;
  object-fit: cover;
  height: auto;
  display: block;
}

.cardContent {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Usa @font-face solo una vez y de forma global */
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../../assets/ttf/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../assets/ttf/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

.cardTitle {
  color: #777;
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: 'Montserrat-Medium', sans-serif;
}

.cardText {
  color: #777;
  font-size: 1.15rem;
  font-family: 'Montserrat-Regular', sans-serif;
}

.imageRight {
  flex-direction: row-reverse;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .cardTitle {
    font-size: 1.75rem;
  }

  .cardText {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .cardImage,
  .cardContent {
    width: 100%;
  }

  .cardContent {
    padding: 15px;
  }

  .cardTitle {
    font-size: 1.5rem;
  }

  .cardText {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .cardTitle {
    font-size: 1.3rem;
  }

  .cardText {
    font-size: 0.9rem;
  }
}